<!--The content below is only a placeholder and can be replaced.-->
<br/>
<nav class='container navbar navbar-expand navbar-light bg-light'>
    <a class='navbar-brand'></a>
    <ul class='nav nav-pills'>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/welcome']">Home</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/patients']">Patient List</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/addpatient']">Add Patient</a></li>
      <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/contactus']">Contact us</a></li>
    </ul>
</nav>
<div>
  
</div>
<div class='container'>
  <router-outlet></router-outlet>
</div>